@import 'normalize.css';
@import 'commons.css';
@import 'css/code';
@import 'css/progress-bar';

:root {
  --grey-light: #f1f1f1;
  --grey-medium: #d0d0d0;
  --black: rgba(0,0,0,0.8);
  --green: #50a14f;  
}

body {
  background: var(--grey-light);
  font-size: 18px;
  color: var(--black);
  font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

section { background: white; }

p { line-height: 1.6; }

a {
  text-decoration: underline;
  color: var(--black); 
}

label { margin-bottom: .5em; }

pre {
  background: color(var(--grey-light) alpha(50%));
  padding: 1em;
  display:block;
  overflow-x:auto;
  margin-bottom: 3em;
}

